{% extends "base.html" %}
{% load static %}

{% block title %} Pagamento {% endblock title %}

{% block content %}
<main>
    <section>
        <div class="main__carrinho-container">
        <div class="carrinho-container-icons">
            <div class="icons">
                <a href="">
                    <i class="bi bi-cart-fill"></i>
                    <span>Carrinho</span>
                </a>
            </div>
            <div class="icons">
                <a href="">
                    <i class="bi bi-person-fill"></i>
                    <span>Identificação</span>
                </a>
            </div>
            <div class="icons">
                <a href="" style="color: #569641;">
                    <i class="bi bi-credit-card-2-back-fill"></i>
                    <span>Pagamento</span>
                </a>
            </div>
        </div>
        <div class="titulo__carrinho">
            <h1>Pagamento</h1>
        </div>
          <div class="pagamento__container">
               <div class="menu_cartao-credito">
                <div class="menu_conteudo">
                    <i class="bi bi-check"></i>
                    <span>Cartão de Credito</span>
                </div>
                <div class="cartao__img">
                    <img src="{% static 'icons/image.png' %}" alt="">
                    <img src="{% static 'icons/image copy.png' %}" alt="">
                    <img src="{% static 'icons/image copy 2.png' %}" alt="">
                    <img src="{% static 'icons/image copy 3.png' %}" alt="">
                </div>
               </div>
               <form class="menu_form" action="{% url 'pedidos:pagamento' %}" method="POST" id="pagamento_form">
                {% csrf_token %}
                   <input type="text" name="" id="" placeholder="Name Card">                    
                   <input type="text" name="" id="" placeholder="Card Number">
                   <div class="validade__codigo">
                       <input class="Valide_Thru" type="month" id="">
                       <input class="Securite_Code" type="text" name="" id="" placeholder="Securite Code">
                   </div>
               </form>
        </div>
        <button form="pagamento_form" >Finalizar Pedido</button>
    </div>
    </section>
</main>
{% endblock content %}
