<script>
    // Configuração do slide categoria
    const swiper = new Swiper('.swiper',{

        slidesPerView: 5,
        spaceBetween: 30,
        freeMode: true,

        // Optional parameters
        direction: 'horizontal',
        loop: true,

        // If we need pagination
        pagination: {
        el: '.swiper-pagination',
        clicKable: true,
        },

        // Navigation arrows
        navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
        },

        // And if we need scrollbar
    });
</script>