
/*Configuraçoes sobre Compre por categoria*/

.compre_por_categoria{
   min-width: 1200px;
   margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.compre_por_categoria-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   
}

.compre_por_categoria-container h2{
    margin: 20px 0 50px 0;
    font-size: 20px;
    font-weight: bold;
}

.categoria__links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    width: 300px;
}

.categoria__links a{
    text-decoration: none;
    color: #2E332C;
    font-size: 15px;
    font-weight: 500;
}

.categoria__links a:hover{
    color: #569641;
}

/*Configurações sobre escolha uma categoria*/

.escolha__categorias{
    background-color: transparent;
    max-width: 80vw;
    margin-left: 50px;
}

.categoria ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0 2%;
    align-items: center;
    gap: 18px;
}

.categoria ul li{
    background-color: #fff;
    list-style-type: none;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 0 7px #bdbcbc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categoria ul li a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    span{
        padding: 0.7rem 0;
        text-align: center;
        color: #000;
        font-weight: 700;
    }
}

.categoria ul li a img{
    width: 200px;
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}