
:root{
    --cor0: #56C033;
    --cor1: #569641;
    --cor2: #4EEA18;
    --cor3: #4B6B40;
    --cor4: #354132;
    --cor5: #2E332C;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    font-family: "Roboto", sans-serif;
}

.container{
    max-width: 1500px;
    margin: 0 auto;
}

section{
    max-width: 1150px;
    margin: 0 auto;
}

/*Configurações do cobeçalho*/

header > .container{
    background-color:  #fff;
    padding: 30px 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 8px #bdbcbc;
}

.header__logo img{
    width: 150px;
    height: 100px;
}

.header__navegacao ul li{
    list-style-type: none;
    display: inline-block;
    padding: 0 10px;
    transition: .2s;
}

.header__navegacao ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 700;
    display: inline-block;
}

.header__navegacao ul li a:hover{
    box-shadow: 0 3px 0 #569641;
}

.input__pesquisa{
    background-color: #d1cdcd54;
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 30px;
}

.input__pesquisa .pesquisa{
    background-color: #56C033;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #fff;
    font-weight: bold;
}

.input__pesquisa input{
  background-color: transparent;   
  border: none;
  padding: 0 100px 0 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  outline: none;
  
}

.flex{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
}

.header__icons a{
    font-size: 30px;
    margin: 0 5px;
    text-decoration: none;
    color: #000;
}

/*Configurações sobre as Categorias*/

.titulo{
    color: #000;
    margin: 8rem 0 2rem 2%;
}

.categoria__container ul{
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    padding: 0 2%;
    align-items: center;
    gap: 18px;
   

}

.categoria__container li{
    background-color: #fff;
    list-style-type: none;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 7px #bdbcbc;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.categoria__container ul li a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    span{
        padding: 0.7rem 0;
        text-align: center;
        color: #000;
        font-weight: 700;
    }
}

.categoria__container ul li a img{
    width: 200px;
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

/*Configurações do rodapé*/

.footer__container{
    background-color:#4B6B40;
    margin-top: 80px;
    padding: 20px 5%;
    display: flex;
}
.footer__logo{
    margin-top: 40px;
    display: flex;
    flex-direction: column; 
    gap: 20px;
    color: #fff;

    p{
        background-color: transparent;
        width: 45vw;
        text-align: justify;
        font-size: 14px;
    }

    span{
        font-size: 14px;
    }
}

.footer__logo img{
    width: 150px;
    height: 100px;
}

.recursos-titulo, .prod-titulo{
    margin: 30px 0 13px 0;
}

.footer__recursos, .footer__prod-popular{
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 0 20px;
}

.footer__recursos a, .footer__prod-popular a{
    text-decoration: none;
    color: #fff;
    padding: 5px 0;
}

.footer__recursos a:hover, .footer__prod-popular a:hover{
    color: #4EEA18;
}

/*Configuraçoes sobre alimentos integrais*/

.integrais_titulos{
    margin: 113px 0 30px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

.integrais_titulos span{
    display: flex;
    align-items: center;
} 

.integrais_titulos span a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.integrais_titulos span a:hover{
    color: #569641;
}

.alimentos_integrais ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.alimentos_integrais ul li{
    background-color: #fff;
    width: 220px;
    box-shadow: 0 0 7px #bdbcbc;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;

    p{
        color: #2E332C;
        margin: 20px 0;
    }
}

.alimentos_integrais ul li img{
    margin-top: 20px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.alimentos_integrais ul li a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button__adicionar-carrinho{
    text-decoration: none;
    background-color: #4EEA18;
    padding: 10px 15px;
    margin: 20px 0;
    border-radius: 5px;
}

.button__adicionar-carrinho a{
    color: #2E332C;
    font-weight: 600;

}

.preco_quantidade{
    display: flex;
    align-items: center;
    gap: 30px;
}

.quantidade{
    border: 1px solid #4EEA18;
    cursor: pointer;
    text-align: center;
}

.preco_quantidade span input{
    width: 40px;
    height: 20px;
    padding: 5px;
    border-left: 1px solid #4EEA18;
    border-right:  1px solid #4EEA18;
    border-bottom:none;
    border-top: none;
    outline: none;
}


/*Configurações sobre por que se tornar veganos*/

.tornar__vegano_container{
    margin: 100px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tornar__vegano_container img{
    width: 100%;
    height: 100%;
}

.tornar__veg-conteudo p{
    padding: 30px 0;
    text-align: justify;
}

/*Configurações sobre as marcas favoritas*/

.marca__favorita-container h1{
    margin: 50px 0;
}

.marcas_links{
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.marcas_links a img{
    width: 150px;
    height: 100%;
    object-fit: cover;

}