{% extends "base.html" %}
{% load static %}
{% load filters %}

{% block title %} Compre Por Categoria {% endblock title %}

{% block content %}

    <div class="container">
        <div class="leaude_contaeiner">
            <section class="compre_por_categoria">
                <div class="compre_por_categoria-leaude">
                    <div class="leaude_conteudo">
                        <span><a href="{% url 'produtos:home' %}">Inicio</a> / {{categoria_selecionada.nome}}</span>
                        {{categoria_selecionada.descricao|safe}}
                    </div>
                    {% if categoria_selecionada.imagem_categorias %}
                    <div class="leaude_img">
                        <img src="{{categoria_selecionada.imagem_categorias.url}}" alt="">
                    </div>
                    {%  endif %}
                </div>
            </section>
            </div><!--Fim da div leaude_contaeiner-->
    </div><!--Fim da div contaeiner-->

    <section class="compre_por_categoria">
       <div class="compre__container">
          <div class="compre_produto">
            <h2>Selecione uma categoria</h2>
            <form>

            <div class="compre_produto-links produto-links">

            {% for categoria in categorias %}
                <div class="produto-links-Tit" id="produto-links-Tit">
                    <a href="{{categoria.get_absolute_url}}">{{categoria.nome}}</a>
                    <i class="bi bi-check-lg" onclick="action_categoria({{categoria.id}})"></i>
                </div>
                    {% if categoria.sub_categorias.exists %}
                    <ul class="categoria__lista-link" id="menu_ul{{categoria.id}}">
                        {% for sub_categoria in categoria.sub_categorias.all %}
                        <li><a href="{{sub_categoria.get_absolute_url}}">{{sub_categoria.nome}}</a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
            {% endfor %}
            </div>
        </form>
          </div>

          <div class="compre__catedoria_produto">
        {% for sub_categoria in sub_categorias  %}
               <div class="compre__produto-liste">
                   <div class="produtos_titulo">
                       <h1>{{sub_categoria.nome}}</h1>
                       <span><a href="{{sub_categoria.get_absolute_url}}">Ver tudo</a><i class="bi bi-chevron-double-right"></i></span>
                   </div>

                   <ul>
                       {% for produto in sub_categoria.produtos.all|fatiar_lista:5 %}
                      <li>
                          {% include 'partials/adicionar_produto_ao_carrinho.html' %}
                      </li>
                       {% endfor %}
                   </ul><!--Fim da ul produto_liste-->
               </div>
              {% endfor %}
              </div>
         </div>
       </div><!--Fim da div compre__container-->
    </section>

    {% comment %} {% include 'partials/lista_categoria_js.html' %} {% endcomment %}
{% endblock content %}