{% extends "base.html" %}
{% load static %}

{% block title %} Veganos Naturais {% endblock title %}

{% block content %}

    <main>
        {% include 'partials/messages.html' %}
        <section><!--minhas Categorias-->
             <div class="container">
                 <div class="categoria__container">
                     <div class="titulo">
                         <h1>Compre por categoria</h1>
                     </div>
                    <ul>
                        {% for categoria in categorias %}
                        <li class="mySlides fade">
                            <a href="{{categoria.get_absolute_url}}">
                                {% if categoria.imagem %}
                                <img  src="{{categoria.imagem.url}}" alt="">
                                {% endif %}
                                <span>{{categoria.nome}}</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                 </div><!--Fim da div categoria__container-->
             </div><!--Fim da div container-->
        </section>

        <section>
            <div class="alimentos__integrais-container">
                <div class="integrais_titulos">
                    <h1>Escolhas alimentos integrais veganas</h1>
                    {% if categoria_destaque %}

                     <span><a href="{{categoria_destaque.get_absolute_url}}">Ver tudo</a><i class="bi bi-chevron-double-right"></i>
                     </span>
                    {% endif %}
                </div>
                <div class="alimentos_integrais">
                        {% if produtos_destaques %}
                    <ul>
                        {% for produto in produtos_destaques %}
                        <li>
                               {% include 'partials/adicionar_produto_ao_carrinho.html' %}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </section>

        <section><!--Por que se tornar vegano-->
            <div class="tornar__vegano_container">
                <img src="{% static 'img/mulher-saudavel.avif' %}" alt="">
                <div class="tornar__veg-conteudo">
                   <h1>Por que se tornar vegano?</h1>

                   <p>Tornar-se vegano envolve uma escolha consciente de adotar um estilo de vida mais ético e sustentável. Ao optar por alimentos veganos, os indivíduos contribuem para a redução do sofrimento animal, promovem a preservação do meio ambiente e melhoram sua própria saúde. E-commerces vegano de alimentos oferecem uma plataforma conveniente para explorar e adquirir produtos alinhados com esses valores, proporcionando uma variedade diversificada de opções, desde alimentos orgânicos até alternativas vegetais para produtos tradicionais. Além disso, esses e-commerces frequentemente fornecem recursos educacionais e receitas, incentivando e apoiando os consumidores em sua jornada para um estilo de vida vegano.
                   </p>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}