{% extends "base.html" %}
{% load static %}

{% block title %} Veganos Naturais {% endblock title %}

{% block content %}

    <main>
        <section class="section__minhas-categorias"><!--minhas Categorias-->
            <div class="container">
               <div class="titulo">
                   <h1>Compre por categoria</h1>
               </div>
                <div class="swiper"> 
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        {% for categoria in categorias %}
                        {% if categoria.imagem_principal %}
                        <div class="swiper-slide">
                            <li class="mySlides fade">
                                <a href="{{categoria.get_absolute_url}}">
                                    <img class="item corent-item" src="{{categoria.imagem_principal.url}}" alt="">
                                    <span>{{categoria.nome}}</span>
                                </a>
                            </li>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>
                  
                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                  
                    <!-- If we need scrollbar -->
                    <div class="swiper-scrollbar"></div>
                </div>     
             </div><!--Fim da div container-->
        </section>

        <section>
            <div class="alimentos__integrais-container">
            {% if categoria_destaque and produtos_destaques %}
                <div class="integrais_titulos">
                    <h1>Escolhas alimentos {{categoria_destaque.nome}}</h1>

                     <span><a href="{{categoria_destaque.get_absolute_url}}">Ver tudo</a><i class="bi bi-chevron-double-right"></i>
                     </span>
                </div>
                <div class="alimentos_integrais">
                        {% if produtos_destaques %}
                    <ul>
                        {% for produto in produtos_destaques %}
                        <li>
                               {% include 'partials/adicionar_produto_ao_carrinho.html' %}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            {% elif categoria_destaque %}
                <div class="integrais_titulos">
                    <h1> Categoria {{categoria_destaque}} sem produtos</h1>
                </div>
            {% else %}
                <div class="integrais_titulos">
                    <h1>Sem Categoria Destaque</h1>
                </div>
            {% endif %}
            </div>
        </section>

        <section><!--Por que se tornar vegano-->
            <div class="tornar__vegano_container">
                <img src="{% static 'img/mulher-saudavel.avif' %}" alt="">
                <div class="tornar__veg-conteudo">
                   <h1>Por que se tornar vegano?</h1>

                   <p>Tornar-se vegano envolve uma escolha consciente de adotar um estilo de vida mais ético e sustentável. Ao optar por alimentos veganos, os indivíduos contribuem para a redução do sofrimento animal, promovem a preservação do meio ambiente e melhoram sua própria saúde. E-commerces vegano de alimentos oferecem uma plataforma conveniente para explorar e adquirir produtos alinhados com esses valores, proporcionando uma variedade diversificada de opções, desde alimentos orgânicos até alternativas vegetais para produtos tradicionais. Além disso, esses e-commerces frequentemente fornecem recursos educacionais e receitas, incentivando e apoiando os consumidores em sua jornada para um estilo de vida vegano.
                   </p>
                </div>
            </div>
        </section>
    </main>

    {% include 'static/js/slide.html' %}

{% endblock content %}