{% extends "base.html" %}
{% load static %}

{% block title %} Veganos Naturais {% endblock title %}

{% block content %}

    <main>
        <section><!--minhas Categorias-->
             <div class="container">
                 <div class="categoria__container">
                     <div class="titulo">
                         <h1>Compre por categoria</h1>
                     </div>
                    <ul>
                        <li class="mySlides fade">
                            <a href="./ComprePorCategoria/lanche.html">
                                <img src="/pages/img/lanches.jpg" alt="">
                                <span>Lanche</span>
                            </a>
                        </li>
                        <li class="mySlides fade">
                            <a href="#">
                                <img src="/pages/img/panificaçao.jpg" alt="">
                                <span>Produtos de panificação</span>
                            </a>
                        </li>
                        <li class="mySlides fade">
                            <a href="#">
                                <img src="/pages/img/carnedo-mar.jpg" alt="">
                                <span>Carne e Frutos do Mar</span>
                            </a>
                        </li>
                        <li class="mySlides fade">
                            <a href="#">
                                <img src="/pages/img/ovos.jpg" alt="">
                                <span>Queijo, Ovos e Laticínios</span>
                            </a>
                        </li>
                        <li class="mySlides fade">
                            <a href="#">
                                <img src="/pages/img/doces.jpg" alt="">
                                <span>Chocolate, Doces e Doces</span>
                            </a>
                        </li>
                        <li class="mySlides fade">
                            <a href="#">
                                <img src="/pages/img/despensa.jpg" alt="">
                                <span>Fundamentos da despensa</span>
                            </a>
                        </li>
                        <li class="mySlides fade">
                            <a href="#">
                                <img src="/pages/img/nutricao-cachorro.jpg" alt="">
                                <span>Produtos para animais de companhia</span>
                            </a>
                        </li>
                    </ul>
                    <!--<div style="text-align: center;">
                         <span class="dot" onclick="correntSlides(1)"></span>
                         <span class="dot" onclick="correntSlides(2)"></span>
                    </div>-->
                 </div><!--Fim da div categoria__container-->
             </div><!--Fim da div container-->
        </section>

        <section>
            <div class="alimentos__integrais-container">
                <div class="integrais_titulos">
                    <h1>Escolhas alimentos integrais veganas</h1>
                     <span><a href="">Ver tudo</a><i class="bi bi-chevron-double-right"></i>
                     </span>
                </div>
                <div class="alimentos_integrais">
                    <ul>
                        <li>
                            <a href="">
                                <img src="/pages/Alimentos-integrais/Pao-integral.png" alt="pão integral">
                                <p>Pão Integral Orgânico</p>
                            </a>
                            <div class="preco_quantidade">
                                <span>R$ 0,00</span>
                                <span class="quantidade"><i class="bi bi-dash"></i><input type="text" placeholder="0"><i class="bi bi-plus"></i>
                                </span>
                            </div>
                            <div class="button__adicionar-carrinho">
                                <a href="">Adicionar no carrinho</a>
                            </div>
                        </li>
                        <li>
                            <a href="">
                                <img src="/pages/Alimentos-integrais/aveia.png" alt="">
                                <p>Aveia</p>
                            </a>
                            <div class="preco_quantidade">
                                <span>R$ 0,00</span>
                                <span class="quantidade"><i class="bi bi-dash"></i><input type="text" placeholder="0"><i class="bi bi-plus"></i>
                                </span>
                            </div>
                            <div class="button__adicionar-carrinho">
                                <a href="">Adicionar no carrinho</a>
                            </div>
                        </li>
                        <li>
                            <a href="">
                                <img src="/pages/Alimentos-integrais/biscoito.jpeg" alt="">
                                <p>Biscoito Orgânico</p>
                            </a>
                            <div class="preco_quantidade">
                                <span>R$ 0,00</span>
                                <span class="quantidade"><i class="bi bi-dash"></i><input type="text" placeholder="0"><i class="bi bi-plus"></i>
                                </span>
                            </div>
                            <div class="button__adicionar-carrinho">
                                <a href="">Adicionar no carrinho</a>
                            </div>
                        </li>
                        <li>
                            <a href="">
                                <img src="/pages/Alimentos-integrais/proteina-vegetal.png" alt="">
                                <p>Proteina Vegetal</p>
                            </a>
                            <div class="preco_quantidade">
                                <span>R$ 0,00</span>
                                <span class="quantidade"><i class="bi bi-dash"></i><input type="text" placeholder="0"><i class="bi bi-plus"></i>
                                </span>
                            </div>
                            <div class="button__adicionar-carrinho">
                                <a href="">Adicionar no carrinho</a>
                            </div>
                        </li>
                        <li>
                            <a href="">
                                <img src="/pages/Alimentos-integrais/suco_de_uva_organico_integral.png" alt="">
                                <p>Suco de Uva Orgânico</p>
                            </a>
                            <div class="preco_quantidade">
                                <span>R$ 0,00</span>
                                <span class="quantidade"><i class="bi bi-dash"></i><input type="text" placeholder="0"><i class="bi bi-plus"></i>
                                </span>
                            </div>
                            <div class="button__adicionar-carrinho">
                                <a href="">Adicionar no carrinho</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section><!--Por que se tornar vegano-->
            <div class="tornar__vegano_container">
                <img src="{% static 'img/mulher-saudavel.avif' %}" alt="">
                <div class="tornar__veg-conteudo">
                   <h1>Por que se tornar vegano?</h1>

                   <p>Tornar-se vegano envolve uma escolha consciente de adotar um estilo de vida mais ético e sustentável. Ao optar por alimentos veganos, os indivíduos contribuem para a redução do sofrimento animal, promovem a preservação do meio ambiente e melhoram sua própria saúde. E-commerces vegano de alimentos oferecem uma plataforma conveniente para explorar e adquirir produtos alinhados com esses valores, proporcionando uma variedade diversificada de opções, desde alimentos orgânicos até alternativas vegetais para produtos tradicionais. Além disso, esses e-commerces frequentemente fornecem recursos educacionais e receitas, incentivando e apoiando os consumidores em sua jornada para um estilo de vida vegano.
                   </p>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}

