<!DOCTYPE html>
<html lang="pt">
<head>
    {% include "partials/_head.html" %}
    {% comment %} {% block bootstrap %}{% endblock bootstrap %} {% endcomment %}
    <title>{% block title %} Ecommerce Capacitação {% endblock title %}</title>
</head>
<body>

    <header>
       {% block header %}{% include "partials/_header.html" %}{% endblock header %}
    </header>
    {% block messages %}{% include 'partials/messages.html' %}{% endblock messages %}
    {% block content %}{% endblock content %}
    {% include 'partials/pagination.html' %}
    <footer>
        {% include "partials/_footer.html" %}
    </footer>
</body>
</html>